<h1>New game</h1>
<div class= "letter">
<% @letters.each do |letter| %>
<h2><%= letter %></h2>
<%  end  %>
</div>
<p> What is the longest word you can find ? </p>


<form action="/score" method="POST">
  <input type="text" name="game">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters, @letters%>
  <input type="submit" value="Play">
</form>
